#header {
    background: linear-gradient(rgb(255, 230, 0), black);
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .menu ul li a {
    display: flex;
    align-items: center;
    color: black;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#header .menu ul li {
    font-family: sans-serif;
    display: inline;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#header .menu ul li a:hover {
    color: white
}
#header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
body {
    background: white;
    font-family: sans-serif
}